.cabecalho{
    background-color: blue;
    color: white;

    font-weight: bold;
    text-transform: uppercase;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: calc((100% - 960px) / 2);
    padding-right: calc((100% - 960px) / 2);

}

.cabecalho_logo{
    padding: 1.5em 0;
    
}

.cabecalho_menu{
    display:flex;
}

.cabecalho_menu-item a{
    display: inline-block;

    padding: 1.5em 1.5em;
    font-size: 0.75em;
}

.cabecalho_menu-destaque{
    margin-left: 1.42em;
    border-radius: 6px;
    background-color: red;
}

.cabecalho_menu-destaque a{
    padding: 1em 2em;
    display: inline-block;
}